[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.27.1"
python-dotenv = "~=0.19.2"
abstractEasyT = "~=0.2.2"
supportLibEasyT = "~=0.1.0"
numpy = "==2.0.2"
pandas = "==1.3.5"

[dev-packages]
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-press-theme = "*"
black = "*"
pre-commit = "*"
commitizen = "*"
pdtj = "*"

[requires]
python_version = "3.9"


[scripts]
format_black = "black ."
